@tailwind base;
@tailwind components;
@tailwind utilities;

figure{margin:0;transform:translate(-50%,-50%) rotate(0deg) scale(1.4,1.4);position:absolute;left:50%;top:50%;border-radius:150px;box-sizing:border-box;animation:rotation 20s infinite linear;}

figure div:after{content:"";width:20px;height:20px;border:1px solid;box-sizing:border-box;position:absolute;left:20px;top:20px;animation:shuffle 2s infinite;}

figure div:nth-child(1){transform:rotate(0deg)}
figure div:nth-child(1):after{animation-delay:-0.5s;}
figure div:nth-child(2){transform:rotate(45deg)}
figure div:nth-child(2):after{animation-delay:-1s;}
figure div:nth-child(3){transform:rotate(90deg)}
figure div:nth-child(3):after{animation-delay:-1.5s;}
figure div:nth-child(4){transform:rotate(135deg)}
figure div:nth-child(4):after{animation-delay:-2s;}
figure div:nth-child(5){transform:rotate(180deg)}
figure div:nth-child(5):after{animation-delay:-2.5s;}
figure div:nth-child(6){transform:rotate(225deg)}
figure div:nth-child(6):after{animation-delay:-3s;}
figure div:nth-child(7){transform:rotate(270deg)}
figure div:nth-child(7):after{animation-delay:-3.5s;}
figure div:nth-child(8){transform:rotate(315deg)}
figure div:nth-child(8):after{animation-delay:-4;}

@keyframes rotation{
  100%{transform:translate(-50%,-50%) rotate(-360deg) scale(1.4,1.4);}
}
@keyframes shuffle{
  50%{transform:scale(0.4,0.4) rotate(-90deg);border-radius:50%;}
}


body {
  margin: 0;
}

/* app scroll*/
.app-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 4px;
  background: transparent;
  transition: all 0.3s ease;
}
.app-scroll-thin::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.app-scroll::-webkit-scrollbar-thumb,
.app-scroll-thin::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.messenger {
  display: inline-flex;
  height: 100%;
  font-family: sans-serif;
}
.messenger-listView {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background: transparent;
  width: 25%;
  min-width: 200px;
  overflow: auto;
}
.messenger-listView .m-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px !important;
}
.messenger-listView .m-header > nav {
  margin: 10px;
}
.messenger-listView .m-body {
  margin-top: 95px;
}
.messenger-messagingView {
  position: relative;
  overflow: hidden;
  width: 75%;
}
.messenger-messagingView .m-body {
  padding-top: 15px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.m-header {
  padding: 10px 15px;
  font-weight: 600;
}
.m-header-right {
  display: inline-flex;
  float: right;
}
.m-header-messaging {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.06);
}
.m-header svg {
  margin: 0px 8px;
  font-size: 16px;
  transition: transform 0.12s;
}
.m-header svg:active {
  transform: scale(0.9);
}
.messenger-search[type="text"] {
  margin: 5px 10px;
  width: calc(100% - 20px);
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 8px 10px;
}
.messenger-listView-tabs {
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.06);
}
.messenger-listView-tabs a {
  width: 100%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  transition: background 0.3s;
}
.messenger-listView-tabs a:hover,
.messenger-listView-tabs a:focus {
  text-decoration: none;
}
.messenger-tab {
  overflow: auto;
  height: calc(100vh - 95px);
  position: relative;
}
.add-to-favorite {
  display: none;
}
.add-to-favorite svg {
  color: rgba(180, 180, 180, 0.52) !important;
}
.favorite-added svg {
  color: #ffc107 !important;
}
.favorite svg {
  color: #ffc107 !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.messenger-list-item {
  margin: 0;
  width: 100%;
  cursor: pointer;
  transition: background 0.1s;
}
.m-list-active span,
.m-list-active p {
  color: #fff !important;
}

.messenger-list-item td {
  padding: 10px;
}
.messenger-list-item tr > td:first-child {
  padding-right: 0;
  width: 55px;
}
.messenger-list-item td p {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
}
.messenger-list-item td p span {
  float: right;
}
.messenger-list-item td span {
  color: #cacaca;
  font-weight: 400;
  font-size: 13px;
}
.messenger-list-item td b {
  float: right;
  color: #fff;
  padding: 0px 4px;
  border-radius: 20px;
  font-size: 13px;
}
.avatar {
  text-align: center;
  border-radius: 100%;
  overflow: hidden;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.av-l {
  width: 100px;
  height: 100px;
}
.av-m {
  width: 45px;
  height: 45px;
}
.av-s {
  width: 32px;
  height: 32px;
}
.messenger-favorites {
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
}
.messenger-favorites > div {
  display: inline-block;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}
.messenger-favorites > div p {
  font-size: 12px;
  margin: 8px 0px;
  margin-bottom: 0px;
}
.messenger-favorites div.avatar {
  border: 2px solid #fff;
  margin: 0px 4px;
}
.messenger-favorites > div:active {
  transform: scale(0.9);
}
.messenger-title {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  text-transform: uppercase;
  color: #aeaeb7;
  font-size: 12px;
  font-weight: 600;
}
.messenger-infoView {
  display: block;
  padding-top: 7px;
  overflow: auto;
  width: 30%;
  min-width: 200px;
}
.messenger-infoView nav a {
  text-decoration: none;
  padding: 5px 8px;
  font-size: 18px;
}
.messenger-infoView > div {
  margin: auto;
  margin-top: 8%;
  text-align: center;
}
.messenger-infoView > p {
  text-align: center;
  margin: auto;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}
.messenger-infoView-btns a {
  display: block;
  text-decoration: none !important;
  padding: 5px 10px;
  margin: 0% 10%;
  border-radius: 3px;
  font-size: 14px;
  transition: background 0.3s;
}
.messenger-infoView-btns a.default:hover {
  background: #f0f6ff;
}
.messenger-infoView-btns a.danger {
  color: #ff5555;
}
.messenger-infoView-btns a.danger:hover {
  background: rgba(255, 85, 85, 0.11);
}
.shared-photo {
  border-radius: 3px;
  background: #f7f7f7;
  height: 120px;
  overflow: hidden;
  display: inline-block;
  margin: 0px 1px;
  width: calc(50% - 12px);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.shared-photo img {
  width: auto;
  height: 100%;
}
.messenger-infoView-shared {
  display: none;
}
.messenger-infoView-shared .messenger-title {
  padding-bottom: 10px;
}
.messenger-infoView-btns .delete-conversation {
  display: none;
}
.message-card {
  display: inline-flex;
  margin: 2px 15px;
  width: calc(100% - 30px);
}
.message-card div {
  margin-top: 0px;
}
.message-card p {
  margin: 0;
  padding: 6px 15px;
  padding-bottom: 5px;
  max-width: 80%;
  border-radius: 20px;
  word-break: break-word;
}
.message-card p sub {
  display: inline-block;
  font-size: 11px;
}
.message-card p sub:before {
  content: "";
  background: transparent;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.mc-sender {
  direction: rtl;
}
.mc-sender p {
  direction: ltr;
  color: rgb(255, 255, 255) !important;
}
.mc-sender p sub {
  color: rgba(255, 255, 255, 0.67);
}

.mc-error p {
  background: rgba(255, 0, 0, 0.27) !important;
  color: #ff0000 !important;
}
.mc-error p sub {
  color: #ff0000 !important;
}
.listView-x,
.show-listView {
  display: none;
}
.messenger-sendCard {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.messenger-sendCard form {
  width: 100%;
  display: inline-flex;
  margin: 0;
}
.messenger-sendCard input[type="file"] {
  display: none;
}
.messenger-sendCard button,
.messenger-sendCard button:active,
.messenger-sendCard button:focus {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}
.messenger-sendCard label {
  margin: 0;
}
.messenger-sendCard svg {
  margin: 9px 10px;
  
  cursor: pointer;
  font-size: 21px;
  transition: transform 0.15s;
}

.messenger-sendCard svg:active {
  transform: scale(0.9);
}
.m-send {
  font-size: 14px;
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  resize: none;
  font-family: sans-serif;
  height: 44px;
  max-height: 200px;
}
.attachment-preview {
  position: relative;
  padding: 10px;
}
.attachment-preview > p {
  margin: 0;
  font-weight: 600;
  padding: 0px;
  padding-top: 10px;
}
.attachment-preview > p > svg {
  font-size: 16px;
  margin: 0;
  margin-bottom: -1px;
  color: #737373;
}
.attachment-preview svg:active {
  transform: none;
}
.image-file {
  cursor: pointer;
  width: 140px;
  height: 70px;
  border-radius: 4px;
  background-color: #f7f7f7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.attachment-preview > svg:first-child {
  position: absolute;
  background: rgba(0, 0, 0, 0.33);
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 100%;
  font-size: 16px;
  margin: 0;
  top: 10px;
  color: #fff;
}
#message-form > button {
  height: 40px;
}
.file-download {
  font-size: 12px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.03);
  padding: 2px 8px;
  margin-top: 10px;
  border-radius: 20px;
  transition: transform 0.3s, background 0.3s;
}
.file-download:hover,
.file-download:focus {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.08);
}
.file-download:active {
  transform: scale(0.95);
}
.typing-indicator {
  display: none;
}
.messages {
  padding: 5px 0px;
}
.message-hint {
  margin: 0;
  text-align: center;
}
.center-el {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.message-hint span {
  background: rgba(154, 161, 170, 0.13);
  padding: 3px 10px;
  border-radius: 20px;
  color: rgb(135, 147, 164);
  display: inline-block;
}
.upload-avatar-details {
  font-size: 14px;
  color: #949ba5;
  display: none;
}
.upload-avatar-preview {
  position: relative;
  border: 1px solid #e0e0e0;
  margin: 20px auto;
}
.upload-avatar-loading {
  position: absolute;
  top: calc(50% - 21px);
  margin: 0;
  left: calc(50% - 20px);
}
.divider {
  margin: 15px;
}
.update-messengerColor {
  margin: 1rem 0rem;
}
.update-messengerColor .color-btn {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
}
.m-color-active {
  border: 3px solid rgba(255, 255, 255, 0.5);
}
.update-messengerColor .color-btn {
  transition: transform 0.15s, border 0.15s;
}
.update-messengerColor .color-btn:active {
  transform: scale(0.9);
}
.dark-mode-switch {
  margin: 0px 5px;
  cursor: pointer;
}
.activeStatus {
  width: 12px;
  height: 12px;
  background: #4caf50;
  border-radius: 20px;
  position: absolute;
  bottom: 12%;
  right: 6%;
  transition: border 0.1s;
}

/*
***********************************************
* App Buttons
***********************************************
*/
.app-btn {
  cursor: pointer;
  border: none;
  padding: 3px 15px;
  border-radius: 20px;
  margin: 1px;
  font-size: 14px;
  display: inline-block;
  outline: none;
  text-decoration: none;
  transition: all 0.3s;
  color: rgb(33, 128, 243);
}
.app-btn:hover,
.app-btn:focus {
  color: rgb(33, 128, 243);
  outline: none;
  text-decoration: none;
}
.app-btn:active {
  transform: scale(0.9);
}
.a-btn-light {
  background: #f1f1f1;
  color: #333;
}
.a-btn-light:hover,
.a-btn-light:focus {
  color: #333;
  background: #e4e4e4;
}
.a-btn-primary {
  background: #0976d6;
  color: #fff;
}
.a-btn-primary:hover,
.a-btn-primary:focus {
  background: #0085ef;
  color: #fff;
}
.a-btn-warning {
  background: #ffc107;
  color: #fff;
}
.a-btn-warning:hover,
.a-btn-warning:focus {
  background: #ffa726;
  color: #fff;
}
.a-btn-success {
  background: #3fc380;
  color: #fff;
}
.a-btn-success:hover,
.a-btn-success:focus {
  background: #2ecc71;
  color: #fff;
}
.a-btn-danger {
  background: #ea1909;
  color: #fff;
}
.a-btn-danger:hover,
.a-btn-danger:focus {
  color: #fff;
  background: #b70d00;
}
.btn-disabled {
  opacity: 0.5;
}
/*
***********************************************
* App Modal
***********************************************
*/
.app-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.53);
  z-index: 2;
}
.app-modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.app-modal-card {
  width: auto;
  max-width: 400px;
  margin: auto;
  padding: 20px 40px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.27);
  transform: scale(0);
}
.app-modal-header {
  font-weight: 500;
}
.app-modal-footer {
  margin-top: 10px;
}
.app-show-modal {
  transform: scale(1);
  animation: show_modal 0.15s;
}
/* modal animation */
@keyframes show_modal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*
***********************************************
* Placeholder loading
***********************************************
*/
.loadingPlaceholder-wrapper {
  position: relative;
}

.loadingPlaceholder-body div,
.loadingPlaceholder-header tr td div {
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.loadingPlaceholder-body div {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}

div.loadingPlaceholder-avatar {
  height: 45px !important;
  width: 45px;
  margin: 10px;
  border-radius: 60px;
}
div.loadingPlaceholder-name {
  height: 15px !important;
  margin-bottom: 10px;
  width: 150px;
  border-radius: 2px;
}

div.loadingPlaceholder-date {
  height: 10px !important;
  width: 106px;
  border-radius: 2px;
}
/*
***********************************************
* Image modal box
***********************************************
*/
.imageModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.imageModal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.imageModal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.imageModal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.imageModal-close:hover,
.imageModal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*
***********************************************
* Typing (jumping) dots animation and style
***********************************************
*/
.dot {
  width: 8px;
  height: 8px;
  background: #bcc1c6;
  display: inline-block;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  position: relative;
  animation: jump 1s infinite;
}

.typing-dots .dot-1 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.typing-dots .dot-2 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.typing-dots .dot-3 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 5px;
  }
  40% {
    bottom: 0px;
  }
}
/*
*****************************************
* Responsive Design
*****************************************
*/
@media (max-width: 1060px) {
  .messenger-infoView {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 334px;
  }
}
@media (max-width: 980px) {
  .messenger-listView {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 334px;
  }
  .listView-x {
    display: block;
  }
  .show-listView {
    display: inline-block;
  }
}
@media (max-width: 680px) {
  .messenger-messagingView {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
  .messenger-infoView {
    display: none;
    width: 100%;
    max-width: unset;
  }
  .messenger-listView {
    width: 100%;
    max-width: unset;
  }
  .listView-x {
    display: none;
  }
  .app-modal-container {
    transform: unset;
  }
  .app-modal-card {
    max-width: unset;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
@media (min-width: 680px) {
  .messenger-listView {
    display: unset;
  }
}
@media only screen and (max-width: 700px) {
  .imageModal-content {
    width: 100%;
  }
}



#form-wrap {
  opacity: 0;
  transition: opacity .5s;
}

#form-wrap.open {
  transition: opacity .5s;
  opacity: 1;
}

#element::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.315);
  border-radius: 10px;
  background-color: transparent;
}

.profile-content {
  padding: 25px;
  border-radius: 4px
}

.profile-content:after,
.profile-content:before {
  content: '';
  display: table;
  clear: both
}

.profile-content .tab-content,
.profile-content .tab-pane {
  background: 0 0
}

.profile-left {
  width: 200px;
  float: left
}

.profile-right {
  margin-left: 240px;
  padding-right: 20px
}

.profile-image {
  height: 175px;
  line-height: 175px;
  text-align: center;
  font-size: 72px;
  margin-bottom: 10px;
  border: 2px solid #E2E7EB;
  overflow: hidden;
  border-radius: 4px
}

.profile-image img {
  display: block;
  max-width: 100%
}

.profile-highlight {
  padding: 12px 15px;
  background: #FEFDE1;
  border-radius: 4px
}

.profile-highlight h4 {
  margin: 0 0 7px;
  font-size: 12px;
  font-weight: 700
}

.table.table-profile>thead>tr>th {
  border-bottom: none!important
}

.table.table-profile>thead>tr>th h4 {
  font-size: 20px;
  margin-top: 0
}

.table.table-profile>thead>tr>th h4 small {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px
}

.table.table-profile>tbody>tr>td,
.table.table-profile>thead>tr>th {
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #242a30;
  background: 0 0
}

.table.table-profile>tbody>tr>td.field {
  width: 20%;
  text-align: right;
  font-weight: 600;
  color: #2d353c
}

.table.table-profile>tbody>tr.highlight>td {
  border-top: 1px solid #b9c3ca;
  border-bottom: 1px solid #b9c3ca
}

.table.table-profile>tbody>tr.divider>td {
  padding: 0!important;
  height: 10px
}

.profile-section+.profile-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #b9c3ca
}

.profile-section:after,
.profile-section:before {
  content: '';
  display: table;
  clear: both
}

.profile-section .title {
  font-size: 20px;
  margin: 0 0 15px
}

.profile-section .title small {
  font-weight: 400
}

body.flat-black {
  background: #E7E7E7
}

.flat-black .navbar.navbar-inverse {
  background: #212121
}

.flat-black .navbar.navbar-inverse .navbar-form .form-control {
  background: #4a4a4a;
  border-color: #4a4a4a
}

.flat-black .sidebar,
.flat-black .sidebar-bg {
  background: #3A3A3A
}

.flat-black .page-with-light-sidebar .sidebar,
.flat-black .page-with-light-sidebar .sidebar-bg {
  background: #fff
}

.flat-black .sidebar .nav>li>a {
  color: #b2b2b2
}

.flat-black .sidebar.sidebar-grid .nav>li>a {
  border-bottom: 1px solid #474747;
  border-top: 1px solid #474747
}

.flat-black .sidebar .active .sub-menu>li.active>a,
.flat-black .sidebar .nav>li.active>a,
.flat-black .sidebar .nav>li>a:focus,
.flat-black .sidebar .nav>li>a:hover,
.flat-black .sidebar .sub-menu>li>a:focus,
.flat-black .sidebar .sub-menu>li>a:hover,
.sidebar .nav>li.nav-profile>a {
  color: #fff
}

.flat-black .sidebar .sub-menu>li>a,
.flat-black .sidebar .sub-menu>li>a:before {
  color: #999
}

.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a,
.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a:focus,
.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a:hover,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a:focus,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a:hover {
  color: #000
}

.flat-black .page-sidebar-minified .sidebar .nav>li.has-sub:focus>a,
.flat-black .page-sidebar-minified .sidebar .nav>li.has-sub:hover>a {
  background: #323232
}

.flat-black .page-sidebar-minified .sidebar .nav li.has-sub>.sub-menu,
.flat-black .sidebar .nav>li.active>a,
.flat-black .sidebar .nav>li.active>a:focus,
.flat-black .sidebar .nav>li.active>a:hover,
.flat-black .sidebar .nav>li.nav-profile,
.flat-black .sidebar .sub-menu>li.has-sub>a:before,
.flat-black .sidebar .sub-menu>li:before,
.flat-black .sidebar .sub-menu>li>a:after {
  background: #2A2A2A
}

.flat-black .page-sidebar-minified .sidebar .sub-menu>li:before,
.flat-black .page-sidebar-minified .sidebar .sub-menu>li>a:after {
  background: #3e3e3e
}

.flat-black .sidebar .nav>li.nav-profile .cover.with-shadow:before {
  background: rgba(42, 42, 42, .75)
}

.bg-white {
  background-color: var(--skin-color)!important;
}
.p-10 {
  padding: 10px!important;
}
.media.media-xs .media-object {
  width: 32px;
}
.m-b-2 {
  margin-bottom: 2px!important;
}
.media>.media-left, .media>.pull-left {
  padding-right: 15px;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
select.form-control:not([size]):not([multiple]) {
  height: 34px;
}
.form-control.input-inline {
  display: inline;
  width: auto;
  padding: 0 7px;
}


.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative
}

.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background: #ced5db;
  left: 16%;
  margin-left: -2.5px
}

.timeline>li {
  position: relative;
  min-height: 50px;
  padding: 20px 0
}

.timeline .timeline-time {
  position: absolute;
  left: -4%;
  width: 18%;
  text-align: right;
  color: #ced5db
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
  display: block;
  font-weight: 600
}

.timeline .timeline-time .date {
  line-height: 16px;
  font-size: 16px;
}

.timeline .timeline-time .time {
  line-height: 24px;
  font-size: 20px;
  color: #dfe0e0
}

.timeline .timeline-icon {
  left: 11%;
  position: absolute;
  width: 10%;
  text-align: center;
  top: 40px
}

.timeline .timeline-icon a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background: #202122;
  line-height: 10px;
  color: #2d353c;
  font-size: 14px;
  border: 5px solid #fff;
  transition: border-color .2s linear
}

.timeline .timeline-body {
  margin-left: 20%;
  margin-right: -20%;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  border-radius: 6px
}

.timeline .timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px
}

.timeline .timeline-body>div+div {
  margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
  margin-bottom: -20px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px
}

.timeline-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px
}

.timeline-header .userimage {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  overflow: hidden;
  margin: -2px 10px -2px 0
}

.timeline-header .username {
  font-size: 16px;
  font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
  color: #2d353c
}

.timeline img {
  max-width: 100%;
  display: block
}

.timeline-content {
  letter-spacing: .25px;
  line-height: 18px;
  font-size: 13px
}

.timeline-content:after,
.timeline-content:before {
  content: '';
  display: table;
  clear: both
}

.timeline-title {
  margin-top: 0
}

.timeline-footer {
  background: #fff;
  border-top: 1px solid #e2e7ec;
  padding-top: 15px
}

.timeline-footer a:not(.btn) {
  color: #575d63
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
  color: #2d353c
}

.timeline-likes {
  color: #6d767f;
  font-weight: 600;
  font-size: 12px
}

.timeline-likes .stats-right {
  float: right
}

.timeline-likes .stats-total {
  display: inline-block;
  line-height: 20px
}

.timeline-likes .stats-icon {
  float: left;
  margin-right: 5px;
  font-size: 9px
}

.timeline-likes .stats-icon+.stats-icon {
  margin-left: -2px
}

.timeline-likes .stats-text {
  line-height: 20px
}

.timeline-likes .stats-text+.stats-text {
  margin-left: 15px
}

.timeline-comment-box {
  background: #f2f3f4;
  margin-left: -25px;
  margin-right: -25px;
  padding: 20px 25px
}

.timeline-comment-box .user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px
}

.timeline-comment-box .user img {
  max-width: 100%;
  max-height: 100%
}

.timeline-comment-box .user+.input {
  margin-left: 44px
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.text-danger, .text-red {
  color: #ff5b57!important;
}